.contenedor-peliculas {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.pelicula {
  width: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
}

img{
  width:70%;
  height: 70%;
}

.pelicula {
  transition: transform 0.3s;
}

.detail{
  width:40%;
  height: 40%;
}

.photo{
  margin-top: -5%;
  display: inline-block;
}

.lista{
  display: inline-block;
}

.pelicula:hover {
  transform: scale(1.2);
}

.cart-container{
  position: fixed;
  top: 30%;
  right: 28%;
  width: 50%;
  background-color: white;
  border-radius: 10px;
  padding: 19px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
 }

 .inf{
  text-align: center;
 }

.cont-carrito{
  position: fixed;
  top: 1.5%;
  right: 25%;
  z-index: 2;
}

